body{
    margin:0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}

#main{
    margin-top:20px;
    text-align:center;
display:inline-block;
border:1px solid black;
width: 70vw;
height: 70vh;
border-radius: 10px;
background-color:blue;
color:blue;
}

input,label,textarea{
    overflow:auto;
font-size: 1.2vh;}

#todo_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:50vh;
    justify-content: space-around;
    /* gap:30px; */
}


textarea{
overflow:auto;    


}
#todo_form>div{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 40vw;
    border:1px solid black;
    padding:20px;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    background-color:yellow;
    /* opacity: 0.75; */
  
}

#add, #clearAll{
    /* border:none; */
    padding:10px 30px;
    color:white;
    background-color:yellow;
    border-radius: 15px;
}


